* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60") ;

    .app-title {
        margin-bottom: 100px;
    }

    .wrapper {
        overflow-y: hidden;
        border: 3px solid rgb(21, 74, 95);
        padding: 10px 15px;
        border-radius: 10px;
    }

}